doctype html
html
    head
        include header.jade

    body
        #test-container
            #test
                span Caption
            #test2
                span Title
        //- header
        //- main
        //-     figure
        //-         //- aside
        //-         section
        //- footer
