doctype html
html
    head
        include header.jade

    body
        #test-container
            #test Caption
            #test2 Title
        //- header
        //- main
        //-     figure
        //-         //- aside
        //-         section
        //- footer
