@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Lato|Lobster|Raleway:300);
html, figure{padding:0;margin:0;font-weight:300;}
body{padding:inherit;margin:inherit;}
h1, h2, h3, h4, h5, h6{font-weight:inherit;}
h1{font-weight:inherit;}
h3{text-decoration:underline;}
p{font-family:'Raleway', sans-serif;line-height:2em;}
hr{opacity:0.5;}
ul{list-style:none;padding:0;}
li{padding:0 20px;}
.lobster{font-family:'Lobster', cursive;}
.lato{font-family:'Lato', sans-serif;}
.raleway{font-family:'Raleway', sans-serif;}
.grey, .grey a, li a{color:#D0D0D0;text-decoration:none;}
.grey a:hover{text-decoration:underline;}
.stretch{word-spacing:1em;text-shadow:3px 3px rgba(0,0,0,0.05);}
.flex-container, .flex-row{display:flex;align-items:center;justify-content:center;flex-flow:column nowrap;}
.flex-row{flex-flow:row nowrap;}
header{width:100%;height:400px;background:url('splash.jpg') center center no-repeat;background-size:cover;}
#profile-image{height:inherit;width:100%;text-align:center;box-shadow:0px -17px 50px rgba(0,0,0,0.4) inset;}
#profile-image img{height:150px;width:150px;border-radius:50% 50%;margin-top:330px;box-shadow:0px 0px 15px rgba(0,0,0,0.7);}
main{max-width:1000px;margin:100px auto 0;text-align:center;}
.flex-left{justify-content:flex-start;text-align:left;}
footer{background:#333;color:#fff;}
#copyright{padding:30px;}
@media screen and (max-width:768px){
html{font-size:65%;}
header{height:300px;}
main{padding:0 10px;max-width:90%;}
#profile-image img{margin-top:230px;}
}